<!DOCTYPE html>
<html>
<head>
	<title>mini-overbuff</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" href="/stylesheets/styles.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</head>
<body>
	    <div id="box" class="ui raised very padded text container segment">
	        <div class="column">

	        <p>there was an error</p>
	        <p>please be sure to have your ID case sensitive </p>

			<a href="/">Return</a>

	        </div> <!-- end of Column -->
	    </div> <!-- end of BOX -->
</body>
</html>