<!DOCTYPE html>
<html>

<head>
    <title>Mini-Overbuff</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bryan Tran">
    <meta name="description" content="Competitive Stat Retriever with Top 10 Leaderboards">
    <meta name="keywords" content="bryan, bryantran, bryan tran, tran, bryantran97, overbuff, mini-overbuff, overwatch skill rating, overwatch competitive, overwatch sr, competitive rank, masteroverwatch">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="image_src" href="/images/overwatch.png">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="../fontawesome/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
	    <div id="box" class="ui raised very padded text container segment">
	        <div class="column">

	        <p>Oh no! An error occurred... We couldn't search for this ID!</p>
	        <p>Our search is case-sensitive, you NEED to put in proper Battlenet ID, and it also requires you to put in the correct region!<br /> Be sure it's right if you do search again.</p>

	        <p>Example of a working Battlenet ID: OfficerBEAR#11410</p>

	        <div class="button-wrapper">
				<a href="/" class="ui inverted button basic orange">Return</a>
			</div>

	        </div> <!-- end of Column -->
	    </div> <!-- end of BOX -->

	    <div class="ui container plugin">
	        <p>Created with love by Bryan Tran
	        	<br/> Visit my portfolio website @ <a href="http://bryan-tran.com">bryan-tran.com</a>
	            <br /> <br />

	            <a href="https://www.github.com/bryantran97" target="_blank"><i class="fa fa-github fa-2x"></i></a> 
	            <a href="https://www.linkedin.com/in/bryantran97/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
	            <a href="mailto:bryantran97@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
	        </p>
	    </div> <!-- end of plugin -->
</body>
</html>