<!DOCTYPE html>
<html>

<head>
    <title>Mini-Overbuff</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Bryan Tran">
    <meta name="description" content="Competitive Stat Retriever with Top 10 Leaderboards">
    <meta name="keywords" content="bryan, bryantran, bryan tran, tran, bryantran97, overbuff, mini-overbuff, overwatch skill rating, overwatch competitive, overwatch sr, competitive rank, masteroverwatch">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="image_src" href="/images/overwatch.png">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="../fontawesome/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body>
    <div id="box" class="ui raised very padded text container segment">
        <div class="column">
            <h1> Mini-Overbuff </h1>
            <div class="about">
                <p>A competitive stat/leaderboard retriever for Overwatch <br />
                Technologies: node.js, express, mongodb, semantic ui</p>
            </div>
            <form action="/results" method="GET" class="ui form">
                <div class="field">
                    <label>Battlenet#ID</label>
                    <div id="input-box" class="ui input">
                        <input type="text" placeholder="Battlenet ID" name="bnetID" required>
                    </div>
                </div> <!-- end of field -->
           
                <div class="field">
                    <label>Region</label>
                    <select name="region" class="ui dropdown">
                        <option value="us">United States</option>
                        <option value="eu">Europe</option>
                        <option value="kr">Korea</option>
                        <option value="cn">China</option>
                        <option value="global">Global</option>
                    </select>
                </div> <!-- end of field -->
                
                <div class="button-wrapper">
                    <button class="ui inverted button basic orange">Submit</button>
                </div>
            </form> <!-- end of Form -->
        </div> <!-- end of Column -->
    </div> <!-- end of BOX -->

    <div class="ui container plugin">
        <p>Created with love by Bryan Tran
        	<br/> Visit my portfolio website @ <a href="http://bryan-tran.com">bryan-tran.com</a>
            <br /> <br />

            <a href="https://www.github.com/bryantran97" target="_blank"><i class="fa fa-github fa-2x"></i></a> 
            <a href="https://www.linkedin.com/in/bryantran97/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="mailto:bryantran97@gmail.com" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a>
        </p>
    </div> <!-- end of plugin -->

    <!-- My Script -->
    <script>
    	// fade body in
        $(document).ready(function() {
            $('body')
                .transition({
                    animation: 'fade in',
                    duration: '1.3s'
                });
        })

        // drop down animation
        $('.ui.dropdown')
            .dropdown();

        // button click functions
        $("button").click(function() {
            if ($("input").val() == "") {
                alert("Please put something in the text box");
            } else {
                $("#input-box").addClass("left icon loading disabled");
                $("#input-box").append('<i class="search icon"></i>');
            }
        });

        // submit form & ajax call
        $("form").submit(function(e) {
            // the script where you handle the form input.
            var url = "/results";

            $.ajax({
                type: "GET",
                url: url,
                // serializes the form's elements
                data: $("form").serialize(),
                success: function(data) {
                    // Fade In Body 
                    $('body')
                        .transition({
                            animation: 'fade in',
                            duration: '1.3s'
                        });

                    // Render the DOM items
                    document.getElementsByTagName('body')[0].innerHTML = data;
                }
            });

            // avoid to execute the actual submit of the form
            e.preventDefault();
        });
    </script>
</body>

</html>