<form action="/results" method="GET">
    <h3>Insert your BattleNET ID</h3>
    <p>Note: It's CASE SENSITIVE</p>
    <input type="text" placeholder="bnet tag" name="bnetID">
    <select name="region">
        <option value="us">US</option>
        <option value="eu">EU</option>
        <option value="kr">KR</option>
    </select>
    <button>Submit</button>
</form>