/* ================ */
/*      GLOBALS     */
/* ================ */
html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/images/background.jpg);
	color: white;
}

p {
	text-align: center;
}

.plugin {
	padding-top: 75px;
	margin: 0 auto 25px auto;
}

.plugin a {
	color: orange;
}

a i {
	text-decoration: none;
	color: white;
	padding: 0 5px;

	transition: all .5s ease;
}

a i:hover {
	color: orange;
}

/* ================ */
/*       Index      */
/* ================ */

/* Title */
h1 {
	text-align: center;
}

/* About div */
.about {
	width: 90%;
	margin: 0 auto;
}

.about p {
	width: 100%;
	text-align: center;
	font-size: 12px;
	padding-bottom: 50px;
}

/* Box */
#box {
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.3)
}

/* Form */
.ui.form {
	width: 70%;
	margin: 0 auto;
}

.ui.form .field>label {
	color: white;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

/* ================ */
/*      Results     */
/* ================ */

.rank-image{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.ten.wide.column h2,
.ten.wide.column h3,
.ten.wide.column h4{
	text-align: center;
}

.six.wide.column h3,
.six.wide.column p {
	text-align: center;
}

.six.wide.column h3 {
	margin-top: 15px;
}

.six.wide.column p {
	text-align: justify;
	text-align-last: center;
}

.six.wide.column hr {
	width: 60%;
}

/* ================ */
/*      MQuerie     */
/* ================ */

@media (max-width: 767px) { /* For small devices */
	#box {
		margin-top: 25px;
	}

	.top10 {
		width: 100%;
		margin-top: 70px;
	}
}
