/* ================ */
/*      GLOBALS     */
/* ================ */
html, body {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/images/background.jpg);
	color: white;
}

p {
	text-align: center;
}

.plugin {
	padding-top: 75px;
	margin: 0 auto 25px auto;
}

/* ================ */
/*       Index      */
/* ================ */

/* Title */
h1 {
	text-align: center;
}

/* About div */
.about {
	width: 60%;
	margin: 0 auto;
}

.about p {
	width: 100%;
	text-align: justify;
	text-align-last: center;
	font-size: 12px;
	padding-bottom: 50px;
}

/* Box */
#box {
	margin-top: 10%;
	background: rgba(0, 0, 0, 0.3)
}

/* Form */
.ui.form {
	width: 70%;
	margin: 0 auto;
}

.ui.form .field>label {
	color: white;
}

.button-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

/* ================ */
/*      Results     */
/* ================ */

.rank-image{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.ten.wide.column h2,
.ten.wide.column h3,
.ten.wide.column h4{
	text-align: center;
}

.six.wide.column h3,
.six.wide.column p {
	text-align: center;
}

.six.wide.column p {
	text-align: justify;
	text-align-last: center;
}

.six.wide.column hr {
	width: 60%;
}

